body {
    background-color: black;
    
}

div {
    position: relative;
    font-family: 'Exo', sans-serif;
    font-size:15px;
    color:#f2f2f2;
    background-color: black;
}

#headerimage {
    text-align: center;
    margin:0px;
    padding:0px;
    bottom:0px;
    z-index: -1;
        
}

#headerimage img{
    max-width:85%; 
    
}

/*#header{
    height:150px;
    margin:auto;
    text-align: center;
    font-size: 25px;
    padding:0px;
}*/

.navbar {
    width: 100%;
    text-align: center;
    font-family: 'Exo';
    color:#ffffff ;
}

.navbar a{
    color:#ffffff;
    
}

.navbar ul {
    list-style-type:none;
    color:#ffffff ;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block;
    font-size: 25px;
    margin: 0px 50px;
    color:#ffffff ;
}

.navbar ul a:link {
    text-decoration:none;
    display:inline-block;
    width: 100%;
    text-align:center;
    padding: 5px 2px; 
    color:#ffffff ;

}

.navbar li a:hover{
    color: #F5F35D;
    transition:1s;
}

.welcome {
    text-align: center;
    color:#ffffff ;
    font-size: 40%;
    bottom:75px;
    padding-bottom:30px;
    padding-top:5;
    
}

.welcome h1 {
    display:inline;
    color:#ffffff ;
    font-size: 32px;
    margin:15px;
    margin-right:70px;
    padding-left:1px
        
        
        
    
}

.welcome button{
   display:inline-block;
    background-color: #ffffff;
    padding:5px 10px;
    border: 2px solid #000000;
    font-size: 20px;
    border-radius: 3px;
}

.welcome button:hover{
    background-color:#F5F35D;
    transition:1s;
}

.joey {
    text-align: center;
}


.joeytext {
    display: inline-block;
    width:50%;
    padding:10px;
    font-size: 18px;  
}

.joeyphoto {
    display: inline-block;
}

.angela {
    text-align: center;
    padding: 20px; 
}

.angelatext {
    display: inline-block;
    width:50%;
    padding:10px;
    font-size: 18px;  
}

.angelaphoto {
    display: inline-block;
}

.welcomeab h1 {
    text-align: center;
    color:#ffffff ;
    font-size: 50px;
    top: 400px; 
}

.about h1{
    text-align: center;
    margin: auto;
    
}

.about {
    margin:6%;
    font-size:18px
    
}

.hebe {
    margin:20px
}


.hebetext {
    display: inline-block;
    width:40%;
    padding:10px;
    font-size: 18px;  
    margin-left: 20px;
}

.hebebox {
    display: inline-block;
    font-size:20px;  
    width:40%;
    border-color: #ffffff ;
    border-style: solid;
   float: right;
    margin-right:20px;
    margin-top:40px
        
        
}

.hebebox ul{
    list-style-type: none;
    
}
    
.ship {
    position: absolute;
    display: inline-block;*/
    float:right;
    top:400px;
    right:9px;
}

.footer {
    text-align: center;
    
}

#joinimage {
    text-align: center;
    margin:10px;
    padding:10px;
        
}

.join {
    margin:auto;
    text-align: center;
    
}

.jointext {
    display: inline-block;
    width:70%;
    padding:10px;
    font-size: 18px;  
}

.applynow {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
        
}

.applynow button{
    text-align: center;
    background-color: #ffffff;
    padding:22px 48px;
    border: 2px solid #ffffff;
    font-size: 20px;
}

.applynow button:hover{
    background-color:#ffa814;
    transition:1s;
}

.faq {
    margin: auto;
    text-align:center;
    width:70%;
    padding:20px;
    font-size: 18px;  
}
